body {
    margin:0;
    padding:0;
    line-height: 1.5em;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    background: #666666;
    }
    
    .container {
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    }
    .header {
    height: 160px;
    background: url(./images/header.jpg) no-repeat;
    }
    .content {
    width: 800px;
    }
    .left_column {
    background: #EEEEEE;
    float: left;
    width: 200px;
    min-height: 400px;
    }
    .right_column {
    float: left;
    width: 600px;
    min-height: 400px;
    }
    .footer {
    clear: left;
    background: #000000;
    padding: 5px;
    color: #FFFFFF;
    
    }
    .footer a {
    color: #FFFFFF;
    }
    .site_title {
    padding-top: 50px;
    padding-left: 260px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 32px;
    font-style: italic;
    color: #FFFFFF;
    }
    .site_slogan {
    padding-top: 10px;
    padding-left: 264px;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    }
    
    .section_box {
    margin: 10px;
    padding: 10px;
    background: #777722;
    color: #FFFFFF;
    }
    .section_box2 {
    margin-top: 10px;
    padding: 10px;
    background: #FFCCCC;
    color: #990000;
    }
    .section_box a {
    color: #FFFF99;
    }
    .section_box2 a {
    color: #008000;
    }
    .text_area {
    margin: 10px;
    }
    .title {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    }
    .subtitle {
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    }
    
    a:link { color: #0066CC; text-decoration: none} 
    a:visited { color: #0066CC; text-decoration: none} 
    a:active { color: #008000; text-decoration: underline} 
    a:hover { color: #008000; text-decoration: underline}
    
    
    .solidblockmenu{
    margin: 0;
    padding: 0;
    float: left;
    font: bold 12px Arial;
    width: 100%;
    border: 1px solid #FFFFFF;
    border-width: 1px 0;
    background: black url(./images/blockdefault.gif) center center repeat-x;
    }
    .solidblockmenu li{
    display: inline;
    }
    .solidblockmenu li a{
    float: left;
    color: white;
    padding: 7px 9px;
    text-decoration: none;
    border-right: 1px solid white;
    }
    .solidblockmenu li a:visited{
    color: white;
    }
    .solidblockmenu li a:hover, .solidblockmenu li .current{
    color: white;
    background: transparent url(./images/blockactive.gif) center center repeat-x;
    }
    .footer{
        text-align: center;
        padding: 1rem;
    }