*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./kahve.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
}

.container{
    background-color: burlywood;
    width: 70%;
    margin: 50px auto;
    max-width: 400px;
}
h1{
    padding-top: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.est{
    font-style: italic;
    margin: 5px;
    font-size: 1rem; 
}
.div{
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div li{
    display: inline;
    margin-top: 7px;
}
.section{
    padding: 0 10px;
}
.visited{
    text-decoration: underline;
    font-size: 1rem;
    margin-top: 0.5rem;
}
.subt{
    font-size: 12px;
    margin: 5px 0px;
    padding-bottom: 7px;
}
hr{
    background-color: brown;
    height: 5px;
    margin: 5px;
}
i{
    margin: 7px 0;
}